{% for item in groups %}
{% if (item != "all") and (item != "openstack") and (item != "ungrouped")%}
[{{item}}]
{%   for entry in groups[item] %}
server{{loop.index}} ansible_host={{ entry }}
{%   endfor %}
{% endif %}
{% endfor %}
